body {
 background-color: #B39898;
}

/* Choice elements */
tei-choice tei-abbr + tei-expan:before,
tei-choice tei-expan + tei-abbr:before,
tei-choice tei-sic + tei-corr:before,
tei-choice tei-corr + tei-sic:before,
tei-choice tei-orig + tei-reg:before,
tei-choice tei-reg + tei-orig:before {
  content: " (";
}
tei-choice tei-abbr + tei-expan:after,
tei-choice tei-expan + tei-abbr:after,
tei-choice tei-sic + tei-corr:after,
tei-choice tei-corr + tei-sic:after,
tei-choice tei-orig + tei-reg:after,
tei-choice tei-reg + tei-orig:after {
  content: ")";
}
