
mei-filedesc > mei-titlestmt > mei-title {
  color: #black;
  display: block;
  font weight: bold;
}
mei-filedesc > mei-titlestmt> mei-editionstmt > mei-title:
:before {
  font-weight: bold;
   font-family: Arial; 
   display: block;
   content: "Song Title: "
}

mei-filedesc > mei-titlestmt> mei-editionstmt > mei-date::before {
  font-weight: bold;
  display: block;
  content: '\a'"Encoded by: ";
  white-space: pre;

}
